.content {
    background-color: rgba(155 153 153 / 54%);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    width: 500px;
    border-radius: 10px;
}

.card-top {
    color: white;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pkmn-img {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.pkmn-img img {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.card-bottom {
    background-color: white;
    height: 15%;
    width: 100%;
    margin-top: -45px;
    border-radius: 10px;
}

.info-top {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color: black;
}

.info-bottom {
    height: 20vh;
    width: 100%;
    margin-top: 46px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;
    gap: 8px;
}

.info {
    margin-top: 40px;
    cursor: pointer;
}

.type {
    font-size: 20px;
}

.info-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.chart {
    width: 350px;
    height: 250px;
}

.arrow-icons {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow-icons img {
    height: 40px;
    border-radius: 30px;
}

button {
    background-color: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}

.moves {
    text-align: center;
    height: 100%;
    padding: 16px;
}

.about-con {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}