body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(165, 165, 165);
    object-fit: contain;
    background-image: url(img/pokemonBGR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 100px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

header img {
    height: 100px;
}

h2 {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
}

.pd-left {
    padding-left: 16px;
}

.pd-right {
    padding-right: 16px;
}

.pd-top {
    padding-top: 16px;
}

.pd-bottom {
    padding-bottom: 16px;
}

.d-none {
    display: none;
}

.chart {
    height: 100px;
    width: 100%;
}

.input-con {
    display: flex;
    justify-content: center;
}

.input {
    border-radius: 10px;
}

.overflow {
    overflow: hidden;
}
